@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {

  /*gradiente*/

  --cor01:#969ba1f1;
  --cor02: #0E23E5;
  --cor04: #a12323;
  --cor04:#052858de;

  --fonte-primary: 'League Gothic', sans-serif;
  --font-second: 'Lekton', sans-serif;
  --font-recipes: 'Marcellus', serif;
}

::-webkit-scrollbar {
  width: 0%;
  height: 0%;
}

.all-recipeDetails-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../images//PAPEL\ PAREDE\ FOLHAS.png"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  overflow-y: hidden;
}

.recipeDetail-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4%;
  width: 70%;
  height: 100vh; 
 /*  background-color: #4985da; */
}

.allDescripition-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 90%;
  padding-top: 5%;
 /*  background-color: #23a13e; */
}

.name-image-video-container {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-around;
  
  max-height: 85%;
  width: 55%;
  padding: 0% 3% 0% 0%;
/*   background-color: aquamarine; */
}

.text-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 3%;
  min-height: 85%;
  max-height: 100%;
  overflow-y: scroll;
/*   background-color: antiquewhite; */
}

.text-details {
  color: #343635;
  word-spacing: 0.15rem;
  line-height: 1.4;
}

.each-detail {
  padding: 1% 1% 1% 0%;
  font-size: 1rem;
}

.recipeDetail-title {
  color: var(--cor02);
  font-size: 2.2 rem;
  font-family: var(--font-second);
  word-spacing: 0.1rem;
/*   background-color: var(--cor03); */
}

.recipeDetailTitle-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--cor02);
  font-size: 1.2rem;
  font-family: var(--font-second);
  word-spacing: 0.1rem;
/*   background-color: #a12323; */
}

.only-btns {
  display: flex;
  justify-content: space-around;
  width: 20%;
/*   background-color: rgb(255, 221, 127); */
}

.recipeDetails-meal-image {
  height: 50%;
  width: 100%;
}

.recipeDetails-drink-image {
  height: 50%;
  width: 100%;
  padding-bottom: 50%;
  padding-right: 10%;
  margin-bottom: 80%;
}

.favorite-btn {
  display: flex;
  justify-content: center;
  background-color: #dbe2ec00;
  width: 60%;
  height: 60%;
  border-color: #dbe2ec00;
}

.share-btn {
  display: flex;
  justify-content: center;
  background-color: #dbe2ec00;
  width: 60%;
  height: 60%;
  border-color: #dbe2ec00; 
}


.recipeDetails-mediaContainer {
  align-items: center;
  background-color: #af1d3d;
  display: flex;
}


@media all and (max-width: 1366px) {
  .allDescripition-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 91.5%;
    padding-top: 8%;
  /*   background-color: #23a13e; */
  }
  
  
}